.navabr {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    height: 56px;
}
.navbar h1 {
    color: red;
}

.navbar button {
    font-weight: bold;
}

.footer h1 {
    color: blue;
}

